body {
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
   color: #EA1C2C;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: rgb(222,192,222);
    transition: background 500ms;
}

@media (max-width: 1200px){
    body{
        background-color: #F37878;
        color: #EA1C2C;
    }
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}



.fa {
  padding: 20px;
  font-size: 20px;
  width: 50.5px;
  text-align: center;
  text-decoration: none;
  margin: 5px 8px;
  border-radius: 50%;
  align-items: center;
  display: inline inline-block;
}

.fa:hover {
    opacity: 0.7;
    background-color: #F37878;
    color: #EA1C2C;
}

.fa-facebook {
  background: pink;
  color: white;
}

.fa-twitter {
  background: pink;
  color: white;
}

.fa-google {
  background: pink;
  color: white;
}


.fa-instagram {
  background: pink;
  color: white;
}
 


